<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
	 <extension point="org.eclipse.debug.core.launchConfigurationTypes">
	  <launchConfigurationType
	   id="ru.eshangin.CompositeLaunch"
	   delegate="ru.eshangin.compositelaunch.CompositeLaunchConfigurationDelegate"
	   modes="run, debug"
	   name="Composite Launch">
	  </launchConfigurationType>
	 </extension>
	 
	 <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  <launchConfigurationTypeImage
	     id="ru.eshangin.CompositeLaunchConfigurationTypeImage"
	     configTypeID="ru.eshangin.CompositeLaunch"
	     icon="icons/composite.png">
	  </launchConfigurationTypeImage>
	 </extension>	 
	 
	 <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	  <launchConfigurationTabGroup
	      id="ru.eshangin.CompositeLaunchTabGroup"
	      type="ru.eshangin.CompositeLaunch"
	      class="ru.eshangin.compositelaunch.CompositeLaunchConfigurationTabGroup"
	      description="Create configuration that will launch another configurations in composite.">
	  </launchConfigurationTabGroup>
	 </extension>	 
	 
	<extension point="org.eclipse.debug.ui.launchConfigurationTabs">
	    <tab
	       class="ru.eshangin.compositelaunch.SelectLaunchersTab"
	        group="ru.eshangin.CompositeLaunchTabGroup"
	        id="ru.eshangin.selectLaunchersTab"
	        name="Launchers">
	    </tab>
	 </extension> 	 

</plugin>
